# Copy to .env.dev.local when using Docker Compose
DATABASE_URL="postgresql://symfony:password@db/symfony?serverVersion=15&charset=utf8"
REDIS_URL=redis://redis:6379
MAILER_DSN=smtp://mailhog:1025
MESSENGER_TRANSPORT_DSN=amqp://user:password@rabbitmq:5672/%2f/messages
APP_URL=http://localhost:8080
