
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

public/adminer.php
public/info.php
composer.lock
composer.phar
user.ini
symfony.lock
.user.ini